doctype html
html(lang=ja)
  include ../include/foundation/head
  body
    .wrapper
      include ../include/foundation/nav

      main.main
        include ../include/foundation/header
        include ../include/foundation/footer

    script(src='/js/foundation.js')
    script(src='/js/gn-form.js')
